In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [22]:
data1 = pd.read_csv('./inventory sales.csv')
data1

,product_title,product_variant_title,product_variant_sku,starting_quantity,ending_quantity,quantity_sold,sell_through_rate
0,BOLLYWOOD TRIPLE BLACK POLO,L,NaN,0,0,9,1.000
1,BOLLYWOOD TRACKIES,L,NaN,5,0,8,1.000
2,BOLLYWOOD TRIPLE BLACK POLO,M,NaN,2,0,6,1.000
3,BOLLYWOOD WHITE POLO,M,NaN,0,0,5,1.000
4,BOLLYWOOD BLACK POLO,M,NaN,0,0,5,1.000
5,ROCKSTA JERSEY,X-Large,NaN,3,0,5,1.000
6,BOLLYWOOD TRACKIES,M,NaN,4,0,5,1.000
7,BOLLYWOOD POLO,L,NaN,3,0,4,1.000
8,BOLLYWOOD POLO,M,NaN,3,0,4,1.000
9,BOLLYWOOD HOODIE,L,NaN,2,0,3,1.000
10,BOLLYWOOD BLACK POLO,L,NaN,0,0,2,1.000
11,BOLLYWOOD TRIPLE BLACK POLO,XL,NaN,1,0,2,1.000
12,BOLLYWOOD TRACKIES,XL,NaN,1,0,2,1.000
13,ROCKSTA JERSEY,XX-Large,NaN,2,0,2,1.000
14,ROCKSTA JERSEY,Small,NaN,1,0,2,1.000
15,BOLLYWOOD HOODIE,S,NaN,1,0,2,1.000
16,BOLLYWOOD HOODIE,XXL,NaN,0,0,2,1.000
17,BOLLYWOOD SHORTS,L,NaN,2,0,2,1.000
18,BOLLYWOOD POLO,XL,NaN,1,0,2,1.000
19,BOLLYWOOD SHORTS,XL,NaN,2,0,2,1.000
20,BOLLYWOOD WHITE POLO,XL,NaN,2,0,2,1.000
21,BOLLYWOOD WHITE POLO,XXXL,NaN,1,0,1,1.000
22,BOLLYWOOD TRIPLE BLACK POLO,S,NaN,1,0,1,1.000
23,BOLLYWOOD POLO,S,NaN,2,0,1,1.000
24,BOLLYWOOD SHORTS,M,NaN,1,0,1,1.000
25,psd poster,Default Title,NaN,0,0,1,1.000
26,BOLAPSD ROCKSTA TEE,Medium,NaN,2,0,1,1.000
27,BOLLYWOOD BLACK POLO,XXXL,NaN,1,0,1,1.000
28,BOLLYWOOD BLACK POLO,XL,NaN,0,0,1,1.000
29,BOLLYWOOD SHORTS,XXL,NaN,1,0,1,1.000
30,BOLLYWOOD HOODIE,M,NaN,0,0,1,1.000
31,BOLLYWOOD TRACKIES,XXL,NaN,1,0,1,1.000
32,ROCKSTA JERSEY,Large,NaN,3,2,5,0.714
33,BOLAPSD ROCKSTA TEE,Large,NaN,2,1,2,0.667
34,BOLLYWOOD TRIPLE BLACK POLO,XXXL,NaN,0,1,2,0.667
35,BOLLYWOOD FLAG,Default Title,NaN,5,2,3,0.600
36,BOLAPSD ROCKSTA TEE,X-Large,NaN,2,2,2,0.500
37,BOLLYWOOD BLACK POLO,S,NaN,0,1,1,0.500
38,BOLLYWOOD WHITE POLO,L,NaN,2,1,1,0.500
39,PINK TAPE TEE,Medium,NaN,2,1,1,0.500
40,PINK TAPE TEE,X-Large,NaN,2,1,1,0.500
41,BOLAPSD FOREVER- ROCKSTA TEE,M,NaN,0,0,0,0.000
42,BOLAPSD FOREVER- ROCKSTA TEE,XL,NaN,3,3,0,0.000
43,BOLAPSD FOREVER- ROCKSTA TEE,L,NaN,2,2,0,0.000
44,BOLAPSD FOREVER- ROCKSTA MESHTOP,L,NaN,2,2,0,0.000
45,BOLAPSD FOREVER- ROCKSTA MESHTOP,M,NaN,1,1,0,0.000

In [23]:
# Assuming 'data' is your DataFrame containing the sales data

# Filter the DataFrame
data2 = data1[data1['product_title'].str.contains('polo|tee', case=False)]

# Display the filtered DataFrame
data1

,product_title,product_variant_title,product_variant_sku,starting_quantity,ending_quantity,quantity_sold,sell_through_rate
0,BOLLYWOOD TRIPLE BLACK POLO,L,NaN,0,0,9,1.000
1,BOLLYWOOD TRACKIES,L,NaN,5,0,8,1.000
2,BOLLYWOOD TRIPLE BLACK POLO,M,NaN,2,0,6,1.000
3,BOLLYWOOD WHITE POLO,M,NaN,0,0,5,1.000
4,BOLLYWOOD BLACK POLO,M,NaN,0,0,5,1.000
5,ROCKSTA JERSEY,X-Large,NaN,3,0,5,1.000
6,BOLLYWOOD TRACKIES,M,NaN,4,0,5,1.000
7,BOLLYWOOD POLO,L,NaN,3,0,4,1.000
8,BOLLYWOOD POLO,M,NaN,3,0,4,1.000
9,BOLLYWOOD HOODIE,L,NaN,2,0,3,1.000
10,BOLLYWOOD BLACK POLO,L,NaN,0,0,2,1.000
11,BOLLYWOOD TRIPLE BLACK POLO,XL,NaN,1,0,2,1.000
12,BOLLYWOOD TRACKIES,XL,NaN,1,0,2,1.000
13,ROCKSTA JERSEY,XX-Large,NaN,2,0,2,1.000
14,ROCKSTA JERSEY,Small,NaN,1,0,2,1.000
15,BOLLYWOOD HOODIE,S,NaN,1,0,2,1.000
16,BOLLYWOOD HOODIE,XXL,NaN,0,0,2,1.000
17,BOLLYWOOD SHORTS,L,NaN,2,0,2,1.000
18,BOLLYWOOD POLO,XL,NaN,1,0,2,1.000
19,BOLLYWOOD SHORTS,XL,NaN,2,0,2,1.000
20,BOLLYWOOD WHITE POLO,XL,NaN,2,0,2,1.000
21,BOLLYWOOD WHITE POLO,XXXL,NaN,1,0,1,1.000
22,BOLLYWOOD TRIPLE BLACK POLO,S,NaN,1,0,1,1.000
23,BOLLYWOOD POLO,S,NaN,2,0,1,1.000
24,BOLLYWOOD SHORTS,M,NaN,1,0,1,1.000
25,psd poster,Default Title,NaN,0,0,1,1.000
26,BOLAPSD ROCKSTA TEE,Medium,NaN,2,0,1,1.000
27,BOLLYWOOD BLACK POLO,XXXL,NaN,1,0,1,1.000
28,BOLLYWOOD BLACK POLO,XL,NaN,0,0,1,1.000
29,BOLLYWOOD SHORTS,XXL,NaN,1,0,1,1.000
30,BOLLYWOOD HOODIE,M,NaN,0,0,1,1.000
31,BOLLYWOOD TRACKIES,XXL,NaN,1,0,1,1.000
32,ROCKSTA JERSEY,Large,NaN,3,2,5,0.714
33,BOLAPSD ROCKSTA TEE,Large,NaN,2,1,2,0.667
34,BOLLYWOOD TRIPLE BLACK POLO,XXXL,NaN,0,1,2,0.667
35,BOLLYWOOD FLAG,Default Title,NaN,5,2,3,0.600
36,BOLAPSD ROCKSTA TEE,X-Large,NaN,2,2,2,0.500
37,BOLLYWOOD BLACK POLO,S,NaN,0,1,1,0.500
38,BOLLYWOOD WHITE POLO,L,NaN,2,1,1,0.500
39,PINK TAPE TEE,Medium,NaN,2,1,1,0.500
40,PINK TAPE TEE,X-Large,NaN,2,1,1,0.500
41,BOLAPSD FOREVER- ROCKSTA TEE,M,NaN,0,0,0,0.000
42,BOLAPSD FOREVER- ROCKSTA TEE,XL,NaN,3,3,0,0.000
43,BOLAPSD FOREVER- ROCKSTA TEE,L,NaN,2,2,0,0.000
44,BOLAPSD FOREVER- ROCKSTA MESHTOP,L,NaN,2,2,0,0.000
45,BOLAPSD FOREVER- ROCKSTA MESHTOP,M,NaN,1,1,0,0.000

In [24]:
data4 = data1[['product_variant_title', 'quantity_sold']]
data4

   product_variant_title  quantity_sold
0                      L              9
1                      L              8
2                      M              6
3                      M              5
4                      M              5
5                X-Large              5
6                      M              5
7                      L              4
8                      M              4
9                      L              3
10                     L              2
11                    XL              2
12                    XL              2
13              XX-Large              2
14                 Small              2
15                     S              2
16                   XXL              2
17                     L              2
18                    XL              2
19                    XL              2
20                    XL              2
21                  XXXL              1
22                     S              1
23                     S              1
24                     M              1
25         Default Title              1
26                Medium              1
27                  XXXL              1
28                    XL              1
29                   XXL              1
30                     M              1
31                   XXL              1
32                 Large              5
33                 Large              2
34                  XXXL              2
35         Default Title              3
36               X-Large              2
37                     S              1
38                     L              1
39                Medium              1
40               X-Large              1
41                     M              0
42                    XL              0
43                     L              0
44                     L              0
45                     M              0

In [25]:
# Assuming 'data4' is your DataFrame

# Replace values
data4['product_variant_title'] = data4['product_variant_title'].replace({'X-Large': 'XL', 'XX-Large': 'XXL', 'Medium': 'M', 'Large': 'L', 'Small': 'S'})

# Delete rows where 'Default Title' appears in 'Size' column
data4 = data4[data4['product_variant_title'] != 'Default Title']

# Display the modified DataFrame
data4

C:\Users\USER\AppData\Local\Temp\ipykernel_20788\2332636944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['product_variant_title'] = data4['product_variant_title'].replace({'X-Large': 'XL', 'XX-Large': 'XXL', 'Medium': 'M', 'Large': 'L', 'Small': 'S'})

   product_variant_title  quantity_sold
0                      L              9
1                      L              8
2                      M              6
3                      M              5
4                      M              5
5                     XL              5
6                      M              5
7                      L              4
8                      M              4
9                      L              3
10                     L              2
11                    XL              2
12                    XL              2
13                   XXL              2
14                     S              2
15                     S              2
16                   XXL              2
17                     L              2
18                    XL              2
19                    XL              2
20                    XL              2
21                  XXXL              1
22                     S              1
23                     S              1
24                     M              1
26                     M              1
27                  XXXL              1
28                    XL              1
29                   XXL              1
30                     M              1
31                   XXL              1
32                     L              5
33                     L              2
34                  XXXL              2
36                    XL              2
37                     S              1
38                     L              1
39                     M              1
40                    XL              1
41                     M              0
42                    XL              0
43                     L              0
44                     L              0
45                     M              0

In [26]:
# Assuming 'data4' is your DataFrame

# Group by 'product_variant_title' and sum the quantities
data4 = data4.groupby('product_variant_title', as_index=False)['quantity_sold'].sum()

# Display the aggregated data
data4

  product_variant_title  quantity_sold
0                     L             36
1                     M             29
2                     S              7
3                    XL             19
4                   XXL              6
5                  XXXL              4

In [27]:
# Preprocessing - Encoding categorical variables (e.g., shirt sizes) if needed
data4 = pd.get_dummies(data4, columns=['product_variant_title'])

In [28]:
# Splitting data into features (X) and target variable (y)
X = data4.drop('quantity_sold', axis=1)  # Features
y = data4['quantity_sold']  # Target variable

In [29]:
# Creating and training the linear regression model
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [30]:
restock_quantity = 10
predicted_quantities = model.predict(X)  # Predicting quantities based on the entire dataset
sizes = X.columns
restock_sizes = []
restock_quantities = []

# Calculate how many shirts of each size to restock
for size in sizes:
    predicted_quantity_for_size = sum(predicted_quantities[X[size] == 1])
    restock_size_quantity = max(0, restock_quantity * predicted_quantity_for_size / sum(predicted_quantities))
    restock_sizes.append(size)
    restock_quantities.append(round(restock_size_quantity))

# Display the restocking plan
restocking_plan = pd.DataFrame({'Size': restock_sizes, 'Quantity to Restock': restock_quantities})
restocking_plan

                         Size  Quantity to Restock
0     product_variant_title_L                    4
1     product_variant_title_M                    3
2     product_variant_title_S                    1
3    product_variant_title_XL                    2
4   product_variant_title_XXL                    1
5  product_variant_title_XXXL                    0